/* === CUSTOM CHECKBOX BY JIMMY GILLAN === */
.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

@keyframes dothabottomcheck-19 {
    0% { height: 0; }
    100% { height: 12px; }
}

@keyframes dothatopcheck-19 {
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 30px; }
}

.checkbox-wrapper-19 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: 2.5px solid #000; 
    border-radius: 5px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease 0.2s;
    cursor: pointer;
    flex-shrink: 0;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 5px;
    background-color: #34b93d;
    display: inline-block;
    transform-origin: left top;
    border-radius: 2px;
    content: " ";
    transition: opacity ease 0.5s;
}

.checkbox-wrapper-19 .check-box::before {
    top: 18px;
    left: 10px;
    transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
    top: 9px;
    left: 1px;
    transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
    border-color: #34b93d;
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
    height: 12px;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
    height: 30px;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
}