:root {
    font-size: 20pt;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: linear-gradient(
        to left bottom,
         #b4e7d9,
          #abecc3,
           #b7eea2,
            #d5eb7a,
             #ffe156);
}

.container {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;

    padding: 1rem;
}

.appName {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    
    display: flex;
    flex-direction: column;
}

.controls button, .todo {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.46);
}

.todoGroup {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1.5rem 3rem;
}

.todo {
    padding: 1rem;
}

.todo .checkbox-wrapper-19 span {
    font-weight: bold;
    font-size: 1.10rem;
}

.todo .description {
    font-size: 0.80rem;
}
