* {
    z-index: 1;
    color: var(--main-text);
}

:root {
    font-size: 20pt;
    font-family: 'Arial', sans-serif;
    
    --main-gradient: linear-gradient(
        to left bottom,
         #b4e7d9,
          #abecc3,
           #b7eea2,
            #d5eb7a,
             #ffe156);
    --main-border: 1px solid rgba(255, 255, 255, 0.3);
    --main-text: #212A37;
}

body {
    background-image: var(--main-gradient);

    overflow: hidden;
}

.container {
    height: 100vh;
    max-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;

    padding: 1rem;
}

.appName {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.appName span {
    font-size: 2rem;
    text-align: center;
    filter: drop-shadow(4px 2px 5px rgba(0, 0, 0, 0.2));
}

.controls {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 1.25rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls button, .todo, 
.tagList span {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.40);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: var(--main-border);
}

.controls button {
    width: 30%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    outline: solid 1px transparent;
    transition: outline 0.25s linear, transform 0.5s linear;
}

.controls button:hover {
    transform: scale(105%);
}

.controls button:active {
    outline: solid 1px white;
}

.controls button svg {
    width: 80%; 
    height: 80%;
    fill: var(--main-text); 
    stroke-width: 0px;
}

.controls button svg path {
    width: 3rem;
}

.controls button:first-child {
    anchor-name: --new-button-anchor;
}

.todoGroup {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1.5rem 3rem;
}
.todo {
    padding: 1rem;

    min-height: 40%;
    min-width: 70%;
    max-width: 100%;
    overflow-x: hidden;
    justify-self: center;

    display: grid;
    grid-template-columns: 0.50fr repeat(2, 1fr) 1fr;
    grid-template-rows: 1.5fr repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Task title */
.todo .checkbox-wrapper-19 {
    grid-area: 1 / 1 / 1 / 4;

    font-weight: bold;
    font-size: 1.50rem;

    width: 100%;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.todo .due-date {
    grid-area: 1 / 4 / 2 / 5;

    justify-self: right;
    align-items: center;
}

.todo .due-date.urgent {
    color: rgb(255, 38, 0);
    font-weight: bold;
    animation: blink 1s linear infinite alternate;  
}

.todo .description {
    grid-area: 2 / 1 / 3 / 5;

    font-size: 0.80rem;
    margin-left: 1.5rem;
}


.subtasks {
    grid-area: 3 / 1 / 4 / 2;

    font-size: clamp(9px, 0.60rem);
    text-align: center;
    margin-left: 2rem;
}

.tagList {
    grid-area: 3 / 2 / 4 / 4;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.40rem;

    padding: 0.25rem 0.50rem;
    min-height: 1.8rem;

    background: var(--main-gradient) fixed;
    box-shadow: inset 0 0px 30px rgba(0, 0, 0, 0.1);
    border: var(--main-border);
    border-radius: 16px;
}

.tagList span {
    padding: 0.10rem 0.20rem;
    user-select: none;

    z-index: 5;
}

.more-details {
    grid-area: 4 / 4 / 5 / 5;

    display: flex;
    justify-content: right;
}

.more-details a {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    text-decoration-color: transparent;
    transition: color 0.5s ease-in, text-decoration-color 0.75s ease-in;
}

.more-details a:hover, .tag {
    color: #244da5;
    text-decoration-color: inherit;
    text-decoration: underline dotted;
}

[popover] {
    display: relative;

    padding: 1.5rem;

    font-size: 0.75rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    opacity: 0;
    transition: opacity 0.5s, overlay 0.5s allow-discrete, display 0.5s allow-discrete;
}

[popover]:popover-open {
    opacity: 1;
}

[popover] form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

[popover] form div {
    display: flex;
}

.standardInput {
    flex-direction: row;
    gap: 0.50rem;
}

.longTextInput {
    flex-direction: column;
    gap: 0.25rem;
}

[popover] form div input,
[popover] form div select,
[popover] form div textarea {
    border-radius: 8px;
}

@starting-style {
    [popover]:popover-open {
        opacity: 0;
    }
}

[popover]#createNewTask {
    margin: 0;
    position-anchor: --new-button-anchor;

    top: anchor(top);
    left: anchor(right);

    margin-left: 1rem;
}

[popover]#createNewTask label {
    font-weight: bold;
}

/* ANIMATIONS */
@keyframes blink {
    0% {
        text-shadow: rgba(213,94,15,0.50) 0px 0px 7px;
    }

    50% { 
        text-shadow: rgba(213,94,15,0.50) 0px 0px 15px;
    }

    100% {
        text-shadow: rgb(213, 94, 15) 0px 0px 30px;
    }
}