:root {
    font-size: 20pt;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: linear-gradient(
        to left bottom,
         #b4e7d9,
          #abecc3,
           #b7eea2,
            #d5eb7a,
             #ffe156);

    overflow: hidden;
}

.container {
    height: 100vh;
    max-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;

    padding: 1rem;
}

.appName {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.appName span {
    font-size: 2rem;
    text-align: center;
    filter: drop-shadow(4px 2px 5px rgba(0, 0, 0, 0.2));
}

.controls {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 1.25rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls button, .todo, div[popover] {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.40);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.controls button {
    width: 30%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.todoGroup {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1.5rem 3rem;
}
/* TODO:  fix the grid proportions. probably use a grid maker (sob) */
.todo {
    padding: 1rem;

    min-height: 40%;
    min-width: 70%;
    max-width: 100%;
    overflow-x: hidden;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr 4fr 4fr;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

/* Task title */
.todo .checkbox-wrapper-19 span {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    font-weight: bold;
    font-size: 1.50rem;

    width: 100%;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.todo .due-date {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.todo .description {
    grid-row: 2 / 3;
    grid-column: 1 / 4;

    font-size: 0.80rem;
}


.subtasks {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    font-size: 0.75rem;
    margin-left: 2rem;
}

.tagList {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    background-color: rgba(255, 255, 255, 0.75);
}

.more-details {
    grid-row: 4 / 5;
    grid-column: 3 / 4;

    display: flex;
    justify-content: right;
}

.more-details a {
    cursor: pointer;
    font-size: 1rem;
    font-style: italic;
    text-decoration-color: transparent;
    transition: color 0.5s ease-in, text-decoration-color 0.75s ease-in;
}

.more-details a:hover, .tag {
    color: #4B9CD3;
    text-decoration-color: inherit;
    text-decoration: underline dotted;
}